<div class="jumbotron jumbotron-fluid text-center ">
<h1 class="font-weight-normal text-left text-white pl-3 ">Bienvenue <%=@name%> sur EventBrite</h1>
<h4 class="font-weight-normal text-left text-white pl-3">Découvrez nos derniers events ...</h4>
</div>

  <div class="row m-3">
    <% @event.all.each do |event|%>
            <div class="col-sm-4 mt-3">
                <div class="card">
                    <div class="card-body text-center mx-auto">
                        <h5 class="card-title"> Titre : <%=event.title%> </h5>
                        <a href= "/events/<%=event.id%>" class="btn btn-outline-primary btn-sm">En savoi plus</a>
                    </div>
                </div>
            </div>
    <%end%>
</div>
